body {
  background-color: #CCE1FF;
  padding-top: 50px;
}

.carousel img {

  min-width: 100%;
  max-width: none;
}


h1 {
  font-weight: bold;
  font-size: x-large;
}

h2 {
	font-weight: bold;
  font-size: large;
}
h3{
	font-weight: bold;	
  font-size: medium;
}

h4{
	font-weight: bold;	
  font-size: small;
}

h5{
	font-weight: bold;
  font-size: x-small;
}

h6{
	font-weight: bold;
  font-size: xx-small;
}




.navbar{
  border-radius: 7px;

}
.bold{
  font-weight: bold;
}

.navbar-brand{
  padding-top: 0;
  padding-bottom: 0;
}
.logo {
  height: 100%;
#  image-rendering: -webkit-optimize-contrast;
  image-rendering: auto;
}


a:hover {
text-decoration: none;
}

.location {

  font-size: 8pt;
}

.main-menu {
  font-size: medium;
}
.main-menu:hover {
  text-decoration: none;
}

.listmenu {
  background-color: #222;
  text-align: center;
}

.nav > li > a.main-menu {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.dropdown-menu > .active > a {
  color     : white;
  font-size : smaller;
  padding   : 10px;
  background: #222;
}
.dropdown-menu > li > a {
  color     : white;
  font-size : smaller;
  padding   : 10px;
  background: #222;
}
.dropdown-menu > li > a:hover {
  background: #2e6da4;
}


div.section {
/*  position: relative;
  top: 35px;*/
}
.local_anchor:before {
  content: "";
  display: block;
  height: 30px;
  margin: -30px 0 0;
  text-decoration: none;
}
.sections-separator {
  position: relative;
  top: 75px;
}
td {
  padding: 10px;
}
th {
  padding: 10px;
}
.separator {
  background-color: black;
  border-color: black;
  border-width: 1px;
}
table tr th {
  padding-left: 4px;
  padding-right: 4px;
}
table tr td {
  padding-left: 4px;
  padding-right: 4px;
}

table, td, th {

}
.htable {
  border-top: solid;
  border-width: thin;
  padding-top: 10px;
  padding: 0;
  text-align: center;
}
.image {
  border: 1px solid;
  padding: 2px;
  width: 100%;
  margin-top: 5px;
}
/* handle unequal height in grids */
.row.fix {
  display: flex;
  flex-wrap: wrap;
}
.htablec {
  border-top: solid;
  border-width: thin;
  padding-top: 10px;
  text-align: center;
}
.tabled {
  border: none;
  text-align: left;
}
.footer {
  position: relative;
  font-size: 12px;
/*  top: 100px; */
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}
.schedule-small {
  border: none;
  padding: 0;
  text-align: left;
  word-wrap: break-word;
}
.schedule-large {
  word-wrap: break-word;
  border: none;
  padding: 0;
  text-align: left;
}
.center-aligning {
  text-align: center;
}
.bbh-titles {
  border-bottom: solid;
  padding-bottom: 10px;
}


.carousel-inner > .item > img{
  }

hr.members {
  border-color: #AAAAAA;
  margin      : 0;
}

ul.members {
  margin-bottom : 0;
}

.btn-warning {
  background: #f36831;
}

.btn {
  margin-top: 0.5em;
}

@media only screen and (min-width: 992px) {}

.videocontainer {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


table.news tr td {
  padding-bottom: 0.5ex;
  padding-top: 0.3ex;
  /* padding-right: 2em; */
}

table.news tr td:nth-child(1) {
    white-space: nowrap;
}

table.news tr td:nth-child(2) {
    white-space: nowrap;
}



